/* General setup */
/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
body{
    /*
    Font-Family
    */
    font-family: Georgia,serif;
    /*
    Give the page a site-wide font-size of 10px.
    */
    font-size: 10px;
    /*
    Give your body text a suitable line-height.
    */
    line-height: 1.6;
    /*
    Give your body text some letter-spacing and word-spacing, as appropriate.
    */
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

/*
Give your headings and other element types appropriate font-sizes defined using a suitable relative unit.
*/
h1{
    font-family: 'Josefin Slab',serif;
    font-size: 3.2rem;
    /*
    Give your headings a little bit of letter-spacing to make them not too squashed, and allow the letters to breathe a bit.
    */
    letter-spacing: 1px;
    /*
    Center your top level heading on the page.
    */
    text-align: center;
}
h2{
    font-family: 'Josefin Slab',serif;
    font-size: 2rem;
    /*
    Give your headings a little bit of letter-spacing to make them not too squashed, and allow the letters to breathe a bit.
    */
    letter-spacing: 1px;
}

/*
Give the first paragraph after each heading in the <section> a little bit of text-indentation, say 20px.
*/
section h2+p{
    text-indent: 20px;
}

/*
Give the link, visited, focus, and hover states some colors that go with the color of the horizontal bars at the top and bottom of the page.
*/
a{
    color: #a66;
    text-decoration: underline;
}
a:visited{
    color: rgb(240, 10, 10);
}
a:hover{
    color: rgb(135, 34, 34);
    text-decoration: none;
}
a:focus{
    color:rgb(131, 48, 48)
}
a:active{
    background-color: #a66;
    color: white;
    padding: 1px 4px;
    border-radius: 4px;
}
/* Make it so that external links have the external link icon inserted next to them. */
a[href^="http"]::after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../external-link-52\ \(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}   

/*
Make sure the spacing of your lists and list items works well with the styling of the overall page. Each list item should have the same line-height as a paragraph line, and each list should have the same spacing at its top and bottom as you have between paragraphs.
*/
ul,ol{
    margin-top: 1.6;
    margin-bottom: 1.6;
    padding-left: 25px;
}
li{
    line-height: 1.6rem;
    font-size: 10px;
    margin-bottom: 6px;
}

/*
Style your navigation menu so that it harmonizes with the page.
*/
nav a{
    display: block;
    padding: 20px 10px;
    border: 1px solid #a66;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, serif;
    letter-spacing: 0.5px;
    border: 1px solid #a66;
    color: #a66;
    box-sizing: border-box;
    background-color: white;
}
nav li{
    margin: 50px 0;
    list-style: none;
}