html {
  font-family: sans-serif;
}

/* Your CSS below here */

div{
    /*
    A reasonable width for a large box, say around 200 pixels.
    */
    border: 20px solid black;
    width: 200px;
    /*
    A reasonable height for a large box, centering the text vertically in the process.
    */
    height: 100px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    /*
    Center the box horizontally.
    */
    margin: auto;
    /*
    Center the text within the box.
    */
    /*  slight increase in font size, to around 17-18 pixel computed style. Use rems. Write a comment about how you worked out the value.
    */
    font-size: 1.5rem;
/*
A base color for the design. Give the box this color as its background color.
*/
background-color: #e63946;

}